# Python
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.env
db.sqlite3
.DS_Store

# Django
local_settings.py
media/

# Node
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE
.vscode/
.idea/
